// Define variables for your color scheme

// For example:
$primary: #A1C181;
$secondary: #FE7F2D;
$warning: #FCCA46;
$success: #619B8A;
$info: #233D4D;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-orange:#f4e5dc;
