.walk-recap {
  margin-top: 1px;
  margin-bottom: 0px;
  text-align: center;
  color: $info;
  font-style: italic;
}

.review-form-title {
  margin-bottom: 1px;
  margin-top: 6px;
  font-family: $body-font;
}

.enter-rating {
  color: $light-gray;
}

.review-button-text {
  font-size: 20px;
  font-family: $body-font;
  font-weight: 400;
}

.btn-review-form {
  padding: 2px;
  text-align: center;
  background-color: $primary;
  font-size: 15px;
  font-family: $body-font;
  border: none;
}

.btn-centered {
    align-items: center;
  }

.nav-link {
  text-align: center;
  color: $primary;
  margin-bottom: 15px;
}

.light-orange-bckgrd {
  background-color: $light-orange;
  padding: 10px;
  border-radius: 4px;
}

.align-elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
