<h2>card walk inline</h2>
<div class="content-container">
  <div class="card-walk-inline">
    <img src="https://image.shutterstock.com/image-vector/small-map-city-260nw-770438665.jpg" alt="map">
    <div class="card-walk-inline-infos">
      <h3>Titre de la balade</h3>
      <p>distance</p>
      <p>temps</p>
    </div>
    <i class="fa-solid fa-pen"></i>
    <i class="fa-solid fa-trash"></i>
  </div>
</div>
<br>
<h2>card walk detailed</h2><br>
<div class="content-container">
    <h1>Balade selectionnée</h1>
  <div class="card-walk-detailed">
    <h2>Titre de la balade</h2>
    <img src="https://image.shutterstock.com/image-vector/small-map-city-260nw-770438665.jpg" alt="map">
    <div class="infos-detailed">
      <div class="description-reviews">
        <p>Super balade sur les bords de garonne. On croise beaucoup de copins chiens.</p>
        <div class="reviews">
          <h3>Avis des woolkers</h3>
          <p>Balade très chouette.</p>
          <p>Parfait pour que mon chien rencontre des copains !</p>
        </div>
      </div>
      <div class="data-walk">
        <div class="rating">
          <span><i class="fa fa-star"></i></span>
          <span><i class="fa fa-star"></i></span>
          <span><i class="fa fa-star"></i></span>
          <span><i class="fa-regular fa-star-half-stroke"></i></span>
          <span><i class="fa-regular fa-star"></i></span>
        </div>
        <p>4,8km</p>
        <p>50 min</p>
        <p>3 hotspots</p>
        <a class="btn-min" href="#">GO</a>
      </div>
    </div>
  </div>
</div>
<br>
<h2>card walk</h2> <br>
<div class="card-dispenser-slide">
  <div class="card-add-walk">
    <p>+</p>
  </div>
  <div class="card-walk">
    <h2>Titre de la balade</h1>
    <img src="https://image.shutterstock.com/image-vector/small-map-city-260nw-770438665.jpg" alt="map">
    <div class="info">
      <div class="rating">
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa-regular fa-star-half-stroke"></i></span>
        <span><i class="fa-regular fa-star"></i></span>
      </div>
      <p>Super balade sur les bords de garonne. On croise beaucoup de copins chiens.</p>
    </div>
  </div>
  <div class="card-walk">
    <h2>Titre de la balade</h1>
    <img src="https://image.shutterstock.com/image-vector/small-map-city-260nw-770438665.jpg" alt="map">
    <div class="info">
      <div class="rating">
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa-regular fa-star-half-stroke"></i></span>
        <span><i class="fa-regular fa-star"></i></span>
      </div>
      <div>
        <p>Super balade sur les bords de garonne. On croise beaucoup de copains chiens.</p>
      </div>
    </div>
  </div>

  <div class="card-walk">
    <h2>Titre de la balade</h1>
    <img src="https://image.shutterstock.com/image-vector/small-map-city-260nw-770438665.jpg" alt="map">
    <div class="info">
      <div class="rating">
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa fa-star"></i></span>
        <span><i class="fa-regular fa-star-half-stroke"></i></span>
        <span><i class="fa-regular fa-star"></i></span>
      </div>
      <div>
        <p>Super balade sur les bords de garonne. On croise beaucoup de copains chiens.</p>
      </div>
    </div>
  </div>
</div>
<br>

<h2>buttons</h2> <br>

<a class="btn-min" href="#">GO</a>
<a class="btn-med" href="#">Soumettre</a>
<a class="btn-max" href="#">Balade terminée</a>
<br>
