<div class="content-container display-elements">

  <h1>Customized Walk</h1>

  <h2 class = "light-orange-bckgrd">You're about to create a new walk itinary</h2>

  <h3 class = "light-orange-bckgrd">Click on the button below when you are at your start point</h3>

 <p class = "light-orange-bckgrd">le link_to à voir demain </p>
</div>
