<div data-controller="mapbox"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  data-mapbox-hotspots-value="<%= @hotspots.to_json %>"
  data-mapbox-waypoints-value="<%= @waypoints.to_json%>">
  <div id="map"></div>

  <%# NO PATCH METHOD %>
  <%# <form action="/walks/update" method="POST">
    <input type="hidden" data-mapbox-target="input">
    <input type="submit" value="End walk" class="map-btn" data-action="click->mapbox#endWalk">
  </form> %>

  <button class="map-btn" data-action="click->mapbox#endWalk">End walk</button>
</div>
