<div class="content-container">
  <h1 class="congrats mt-3">My pusblished walks</h1>
  <div>
    <% @published_walks.each do |walk| %>
      <%= render 'walk', walk: walk, link: :edit, title_3: walk.name.capitalize %>
    <% end %>
  </div>

  <h1 class="congrats mt-3">My favorite walks</h1>
  <div>
    <% @favorite_walks.each do |walk| %>
    <% end %>
  </div>

   <h1 class="congrats mt-3">My history</h1>
  <div>
    <% @history_walks.each do |walk| %>
      <%= render 'walk', walk: walk, link: :delete, title_3: walk.date %>
    <% end %>
  </div>
</div>
