.card-walk-inline {
  overflow: hidden;
  height: 120px;
  background-color: $light-orange;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
  margin-bottom: 10px;

  #map_inline {
    height: 100%;
    width: 150px;
    object-fit: cover;
    margin-left: 0;
  }

  .medium-map-inline {
    margin-top: 0 !important;
  }

  i {
    margin: 10px;
    color: $gray;
    font-size: 14px;
  }

  .icon {
    color: $gray;
  }

  .fa-heart {
    font-size: 14px;
    margin: 10px;
    position: initial;
    color: $secondary;
  }

  .card-walk-inline-infos {
    padding: 15px 0px 15px 15px;
    display: flex;

    h3 {
      font-size: 14px;
      font-weight: bold;
      font-family: $headers-font;
      color: $gray;
      // margin: 10px;
      // padding: 6px;
      margin-top: 15px;
      text-align: left;
      border-radius: 4px;
      text-decoration: overline $secondary;
    }

    .description {
      color: $gray;
      border-radius: 4px;
    }

    p{
      font-size: 12px;
      line-height: 1.4;
      opacity: .7;
      margin-bottom: 0;
      margin-top: 0;
      text-align: left;
    }

    i{
      color: $gray;
    }
  }
}

.accordion-body {
  padding: 15px 0 !important;
}
