.card-walk-detailed {
  width: 95%;
  margin: 0 auto;

  h1 {
    margin: 0;
  }

  h3 {
    color: $gray;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline $secondary;
  }

  .btn-max {
    margin: 0;
  }

  .container-child-margin {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .medium-map {
    height: 280px;
    width: 462px;
    margin: 0;
  }

}


.description-data {
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    background-color: $light-orange;

    .middle-divider {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-top: 16px;
      margin-bottom: 16px;
    }

    .description {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-content: space-around;
      justify-content: space-around;
      padding: 8px;
      text-align: center;
      border-right: solid 1px $secondary;
    }
    .data-walk {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      flex-grow: 1;
      background-color: $light-orange;
      padding: 8px;
    }

    .rating {
      font-size: 12px;
      // margin: 0 5px 15px 5px;
      color: $gray;
      margin-bottom: 8px;
    }

    #hotspot-icon {
      display: flex;
      justify-content: center;
      gap: 1rem;
    }
  }

    .reviews {
    border-radius: 4px;
    font-size: 15px;
    text-align: left;
    background-color: $light-orange;
    padding: 8px;

    p {
      margin-bottom: 4px;
      font-style: italic;
    }

    .photos-review {
      display: flex;
      flex-direction: row;
      max-height: 70px;
      width: 100%;
    }

    .photo-size {
      // height: 100%;
      margin: 5px;

    }

    .review-scrolldown {
      max-height: 130px;
      overflow-y: scroll;
      margin-bottom: 8px;
  }
  }

.modal-dialog {
  position: relative;
  top: calc(30% - 66px);
}

.btn-modal {
  background-color: $primary;
  color: $light-gray;
  border-radius: 4px;
  border: none;
}
