.form-filter {
  display: flex;
  justify-content: center;

  .btn {
    background-color: $primary;
    color: $light-gray;
    font-family: $body-font;
    font-size: 14px;
    font-weight: 500;
    align-self: stretch;
  }

  .dropdown-filter {
    list-style: none;
    padding: 10px;
  }

  .dropdown-item {
    text-align: left;
    padding-left: 8px;
  }

}


// .dropdown-filter .btn:hover {
//   color: $light-gray;
//   background-color: $success;
//   border-color: $success;
// }

.checkbox {
  font-family: $body-font;
  font-size: 16px;
  margin-left: 5px;
}
