.big-map {
  height: 100%;
  margin: 0px;
  width: 100%;
  object-fit: cover;
  float: center;
}

.medium-map {
  height: 200px;
  display: block;
  margin: 20px auto;
  width: 95%;
  object-fit: cover;
  float: center;
}

.little-map {
  height: 120px;
  width: 45%;
  float: left;
  margin-left: 20px;
  object-fit: cover;
}

.full-screen-map {
  // background-color:bisque;
  height: calc(100vh - 66px);
}

.map-btn {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

// .mapboxgl-map {
//   width: 100%;
// }

.mapbox {
  width: 100%;
}

.mapboxgl-ctrl-logo {
  visibility: hidden;
}

.mapboxgl-popup-content {
  a {
    color: $dark-green;
    font-weight: bold;
  }

  button {
    visibility: hidden;
  }
}
