// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "jquery-bar-rating/dist/themes/css-stars";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

html {
  height: 100%;
}

body {
  background-color: rgb(245, 245, 245);
}

h1 {
  background-color: $light-orange;
  border-radius: 4px;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  color: $gray;
  text-decoration: overline $secondary;
  text-align: center;
}

h2 {
  color: $gray;
}


a {
  text-decoration: none;
}
